<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="posesion">
      <h2 data-cy="posesionDetailsHeading"><span jhiTranslate="todoSportsIonicApp.posesion.detail.title">Posesion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ posesion.id }}</span>
        </dd>
        <dt><span jhiTranslate="todoSportsIonicApp.posesion.team">Team</span></dt>
        <dd>
          <span>{{ posesion.team }}</span>
        </dd>
        <dt><span jhiTranslate="todoSportsIonicApp.posesion.paused">Paused</span></dt>
        <dd>
          <span>{{ posesion.paused }}</span>
        </dd>
        <dt><span jhiTranslate="todoSportsIonicApp.posesion.time">Time</span></dt>
        <dd>
          <span>{{ posesion.time | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/posesion', posesion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
